<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.hico.cd.sur.mapper.SurveyMapper">

  <sql id="Columns">
    , ${ta}sur_id ${ca}sur_id
		, ${ta}target_cd ${ca}target_cd
		, ${ta}title ${ca}title
		, ${ta}start_dt ${ca}start_dt
		, ${ta}end_dt ${ca}end_dt
  </sql>

  <resultMap type="SurveyVo" id="SurveyMap" autoMapping="true">
    <id property="surId" column="sur_id"/>

    <collection property="surQuestionVoList" ofType="SurQuestionVo" columnPrefix="sq_"
      autoMapping="true">
      <id property="surQstId" column="sur_qst_id"/>
    </collection>
  </resultMap>

  <select id="getList" resultMap="SurveyMap">
    SELECT
    <trim prefixOverrides=",">
      <include refid="Columns">
        <property name="ta" value="s."/>
        <property name="ca" value=""/>
      </include>
      <include refid="kr.go.hico.cd.sur.mapper.SurQuestionMapper.Columns">
        <property name="ta" value="sq."/>
        <property name="ca" value="sq_"/>
      </include>
    </trim>
    FROM survey s
    LEFT JOIN survey_question sq
    ON s.sur_id = sq.sur_id
  </select>

  <insert id="transactionTest" parameterType="SurveyVo">
    INSERT INTO survey ( target_cd
                       , title
                       , start_dt
                       , end_dt)
    VALUES ( #{targetCd}
           , #{title}
           , #{startDt}
           , #{endDt})
  </insert>

</mapper>