<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.hico.ts.test.externalMapper.ExtTestMapper">

  <select id="getList" resultType="TestVo">
    SELECT id,
           test_content,
           reg_date
    FROM test
  </select>

  <insert id="transaction" parameterType="TestVo">
    INSERT INTO test (
      id
      , test_content
      , reg_date
    ) VALUES (
      #{id}
      , #{testContent}
      , #{regDate}
      )
  </insert>
</mapper>