<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	  <Appenders>
	    <Console name="console" target="SYSTEM_OUT">
	      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%c{1}] %m%n"/>
	    </Console>

      <!-- 💡 마스킹 정책을 적용하는 Rewrite Appender 추가 -->
      <Rewrite name="maskingRewrite">
        <AppenderRef ref="console"/>
        <LogMaskingPolicy />
      </Rewrite>
	  </Appenders>
	
	  <Loggers>
	    <Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
	      <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	
	    <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
	      <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	    
	    <Logger name="jdbc.audit" level="DEBUG" additivity="false">
	      <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	    
	    <Logger name="java.sql" level="DEBUG" additivity="false">
	      <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	    
	    <!-- Application Log-->
	    <Logger name="kr.go" level="DEBUG" additivity="false">
	      <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	        
	    <!-- 특정 로그 제외 -->
	    <Logger name="org.mybatis.spring.SqlSessionUtils" level="ERROR" additivity="false">
	        <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	
	    <Logger name="org.springframework.security.web" level="ERROR" additivity="false">
	        <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	    
	    <Logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="ERROR" additivity="false">
	        <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	    
	    <Logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="ERROR" additivity="false">
	        <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	    
	    <Logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="ERROR" additivity="false">
	        <AppenderRef ref="maskingRewrite"/>
	    </Logger>
	    
	    <Logger name="org.thymeleaf" level="ERROR" additivity="false">
            <AppenderRef ref="maskingRewrite" />
        </Logger>
	    <!-- //특정 로그 제외 -->
	    
	    <Root level="DEBUG">
	      <AppenderRef ref="maskingRewrite"/>
	    </Root>
    
		</Loggers>
</Configuration>