<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.go.hico.sm.post.mapper.PostMapper">
	<insert id="insertPost" parameterType="kr.go.hico.sm.post.vo.InsertPostVo">
		INSERT
			INTO post
			(
					board_id
				, user_id
				, created_at
				, updated_at
				, title
				, content
				, del_yn
			)
		VALUES
			(
					#{boardId}
				, #{userId}
				, #{createdAt}
				, #{updatedAt}
				, #{title}
				, #{content}
				, #{delYn}
			);
	</insert>

	<update id="updatePost" parameterType="kr.go.hico.sm.post.vo.SavePostVo">

	</update>

	<select id="getPostListByBoardId" parameterType="long"
		resultType="kr.go.hico.sm.post.vo.PostVo">
		SELECT
				p.post_id
			, p.board_id
			, p.title
			, p.content
			, p.view_cnt AS view_count
			, p.created_at
			, p.updated_at
			, p.user_id  AS writer_id
			, u.user_nm  AS writer_name
			, p.del_yn
			FROM
				post p
					LEFT JOIN users u
					ON p.user_id = u.user_id
		 WHERE
			 p.board_id = #{boardId}
		 ORDER BY
			 p.created_at DESC
	</select>
	<select id="getPostById" parameterType="kr.go.hico.sm.post.vo.SearchPostVo"
		resultType="kr.go.hico.sm.post.vo.PostVo">
		SELECT
				p.post_id
			, p.board_id
			, p.title
			, p.content
			, p.view_cnt AS view_count
			, p.created_at
			, p.updated_at
			, p.user_id  AS writer_id
			, u.user_nm  AS writer_name
			, p.del_yn
			FROM
				post p
					LEFT JOIN users u
					ON p.user_id = u.user_id
		 WHERE
					 p.board_id = #{boardId}
			 AND p.post_id = #{postId}
	</select>
</mapper>